body {
	padding-top: 70px;
	font-size: 15px;
    background: url('https://www.gfxnerds.com/wp-content/uploads/2015/05/003-wood-melamine-subttle-pattern-background-pat.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}	
#start {
	color: black;
	margin-top: 10px;
}
#pipboy {
	border-radius: 50%;
}
textarea {
		vertical-align: middle;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		background: none;
		border: none;
		font-family: 'Permanent Marker', cursive;
		font-size: 1.6em;
		color: rgba(238, 238, 238, 0.8);
		line-height: .7em;
		outline: none;
}

#blackboard {
		position: relative;
		font-color: white;
		width: 850px;
		margin: 7% auto;
		border: tan solid 12px;
		border-top: #bda27e solid 12px;
		border-left: #b19876 solid 12px;
		border-bottom: #c9ad86 solid 12px;
		box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
		background-image: radial-gradient( circle at left 30%, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3) 80px, rgba(34, 34, 34, 0.5) 100px, rgba(51, 51, 51, 0.5) 160px, rgba(51, 51, 51, 0.5)), linear-gradient( 215deg, transparent, transparent 100px, #222 260px, #222 320px, transparent), radial-gradient( circle at right, #111, rgba(51, 51, 51, 1));
		background-color: #333;
}
#show-solution {
		color: black;
}
p {
		color: white;
		font-size: 18px;
}
h2 {
		color: white;
		font-size: 40px;
		margin-bottom: 25px;
}
